.App ul {
    flex-shrink: 0;
}

.contacts-list {
    float: right;
    margin-top: 64px;
}

.email-list {
    margin-top: 64px;
    left: 245px;
    position: fixed;
}

.email-list ul {
    width: 100%;
}
 *:focus {
     outline: none;
 }